.main_div {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}
li{
    align-items: center;
    background-color: #e7f3ff;
    border: 1px solid #e7f3ff;
    border-radius: 0.5em;
    color: #0564c5;
    display: inline-flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: flex-start;
    line-height: 1.3;
    margin: 0 7px 7px 0;
    max-width: 100%;
    padding: 0.5em 0.7em;
    text-align: left;
    vertical-align: top;
    word-break: break-word

}
ol{
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    position: relative;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}